.main-title {
 text-align: center;
}
.meal-detail {
}

.banner {
  border: 2px solid black;
  text-align: center;
}
.container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    clear: both;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    font-size: 14px;

}
 input {
    width: 100px;
    clear: both;
    margin-left: 10px;

}
.red {
  border: 1px solid red;
}
label {
  display: inline-block;
  width: 140px;
  text-align: right;
}

.buttons-container {
  display: inline-block;
}
p {
  font-weight: bold;
}
#one,#two,#three {
  margin-bottom: -10px;
}
#five,#six {
  margin-top: 10px;
  margin-left: 3px;
}
#five {
  margin-left: 70px;
}
#four {
  float: right;
  margin-right: 90px;
}
